.wrapper
  = render "shared/side_bar"
  - if user_signed_in?
    .main-image
      新着アイテム
      - if @new.present?
        = render "shared/new-list", { new: @new }
    .main-image
      ランキング
      - if @good_ranks.present?
        = render "shared/new-list", { new: @good_ranks }
    .submit-button
      = link_to new_tweet_path,class:"submit-button__link" do
        .submit-button__content 
          %span.submit-button__content__text 投稿する
          .submit-button__content__picture
            %i.fas.fa-tshirt
  - else 
    .cm-head
      MITETEへようこそ！


    .cm
      .layerTransparent
        .cm__title
          「みんなで作る、あなたの広告」
        .cm__text
          ブランドの広告を作りたい、でもネット広告は難しそう
          そう思ったことありませんか？
        .cm__text
          投稿型広告サイト「MITETE」ならそんな心配は入りません。
        .cm__text
          投稿ボタンから投稿するだけ。
          あっという間にあなたの広告が出来上がります。
      
    .cm2
      .layerTransparent2
        .cm__title
          「あなたが作る、みんなも作る」
        .cm__text
          でも、たくさん投稿するのは面倒・・・。
        .cm__text
          そんな方でも大丈夫。
          投稿は誰でもOK。
        .cm__text
          投稿時にあなたのブランドが選択された全ての投稿が
          あなたの広告になります。

    .item__date__bottan
      .item__date__bottan__shop
        = link_to root_path, class: "item__date__bottan__shop__send" do
          さぁ！MITETEをはじめよう！
      