= form_with model: @tweet, local: true do |f|
  .item
    .item__title
      .item__title__title
        新規投稿
    .item__image
      = f.file_field :image, class: 'hidden'
    .item__date
      .item__date__catedategory
        = f.select :category, [["メンズ", "メンズ"],["レディース", "レディース"],["キッズ", "キッズ"],["パーカー","パーカー"],["スウェット","スウェット"],["Tシャツ","Tシャツ"],["ロンパース","ロンパース"],["アウター","アウター"]]
      .item__date__comment
        = f.text_area :text, placeholder: "コメントを入力" , rows: "10",class: 'item__date__comment__text'
      .item__date__bottan
        .item__date__bottan__good
          キャンセル
        .item__date__bottan__shop
          = f.submit "投稿する"
        
    