.iitem
  .iitem__title
    .iitem__title__name
      = link_to "/",class:"item__title__name" do
        ←
      = @tweet.user.nickname
      さんの投稿♪
  .iitem__image
    = image_tag @tweet.image.url, class: "iitem__image__photo"
  .iitem__date
    .iitem__date__catedategory
      = @tweet.category
    .iitem__date__bottan
      .iitem__date__bottan__good
        -# = @tweet.likes.count
        - if current_user.already_liked?(@tweet)
          = button_to 'いいね済み', tweet_like_path(@tweet), method: :delete, class: "iitem__date__bottan__good__push"
        - else
          = button_to 'いいね', tweet_likes_path(@tweet), class: "iitem__date__bottan__good__push"
        = @tweet.likes.count
      .iitem__date__bottan__good
      .iitem__date__bottan__shop
        SHOP
    .iitem__date__comment
      = @tweet.text