
.iitem
  .test
    .iitem__title
      .iitem__title__name
        = link_to "/",class:"item__title__name" do
          %i.fas.fa-angle-double-left
      .iitem__title__nam
        = link_to home_user_path(id: @tweet.user.id),class:"item__title__na" do
          = @tweet.user.nickname
        さんの投稿♪
    .iitem-image
      .iitem__image
        %ul
          %li
            #mainImage
              = image_tag @tweet.toukouimages.first.image.url, class: "iitem__image__photo"
      .iitem__sub-image
        #imageList
          %ul
            - @tweet.toukouimages.each do |tweet|
              =image_tag tweet.image.url, class: "iitem__image__photo__list"
    .iitem__date
      .iitem__date__catedategory
        = @tweet.catchcopy
        .iitem__date__catedategory__brand
          カテゴリー：
          = @tweet.category.name
        .iitem__date__catedategory__brand
          ブランド：
          = @tweet.brand.name
        - if @tweet.url.present?
          .iitem__date__catedategory__brand.flex
            商品ページ：
            .iitem__date__bottan__shop
              = link_to "#{@tweet.url}" do
                商品ページへ
        .tags
          - @tweet.tags.each do |tag|
            .iitem__date__catedategory__tag
              = tag.tag_name
          
      
      .iitem__date__bottan
        .iitem__date__bottan__good
          = link_to "https://twitter.com/share?ref_src=twsrc%5Etfw", "Tweet", data: {text: "【MITETE】このアイテムがおすすめ！是非、みてみて！", hashtags: "#MITETE", show_count:"false"}, class: "twitter-share-button" 
          %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
          - if current_user.already_liked?(@tweet)
            = button_to tweet_like_path(@tweet), method: :delete, class: "iitem__date__bottan__good__push" do
              登録済み
              %i.fas.fa-star
              = @tweet.likes.count
          - else
            = button_to tweet_likes_path(@tweet), class: "iitem__date__bottan__good__push" do
              お気に入り
              %i.far.fa-star
              = @tweet.likes.count
         
         
      .iitem__date__comment
        = @tweet.text