.side-bar
  .side-bar__user
    .side-bar__user__name
      = @nickname
      %br/
      マイページ
  .side-bar__menue
    = link_to "/",class:"side-bar__menue__link" do
      HOME
  .side-bar__menue
    = link_to "#",class:"side-bar__menue__link" do
      プロフィール
  .side-bar__menue
    = link_to "/users/#{current_user.id}",class:"side-bar__menue__link" do
      自分の投稿
  .side-bar__menue
    = link_to "#",class:"side-bar__menue__link" do
      いいね
  .side-bar__menue
    = link_to "#",class:"side-bar__menue__link" do
      設定
  .side-bar__menue
    = link_to destroy_user_session_path, method: :delete, class:"side-bar__menue__link" do
      ログアウト