.side-bar
  .side-bar__user
    = link_to "/",class:"side-bar__user__link" do
      = image_tag "111.png" ,class: "side-bar__user__icon"
    -# - if user_signed_in?
    -#   Welcome!
    -#   = current_user.nickname
    -# - else
    -#   MITETEへ
    -#   ようこそ！
      
    .search__box
      = form_with(url: tweets_searches_path, local: true, method: :get, class: "search__box__form") do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "search__box__input"
        = button_tag type: 'submit', class: "search__box__btn" do
          %i.fas.fa-search

  .side-bar__decolate
    .side-bar__menue
      - if user_signed_in?
        %ul.mycate
          %li.side-bar__menue__device.pulldown
            %i.fas.fa-list
            = link_to "カテゴリ","#",class:"side-bar__menue__link"
            %ul.top__menue
              - @parents.each do |category|
                %li.top__menue__item
                  = form_with(url: tweets_searches_path, local: true, method: :get, class: "top__menue__item__form") do |form|
                    = form.text_field :keyword, value: "#{category.name}", class: "top__menue__item__form__text"
                    = form.submit "#{category.name}", class: "top__menue__item__form__btn"
          %li.side-bar__menue__device.pulldown
            %i.fas.fa-list
            = link_to "ブランド","#",class:"side-bar__menue__link"
            %ul.top__menue
              - @brand.each do |category|
                %li.top__menue__item
                  = form_with(url: tweets_searches_path, local: true, method: :get, class: "top__menue__item__form") do |form|
                    = form.text_field :keyword, value: "#{category.name}", class: "top__menue__item__form__text"
                    = form.submit "#{category.name}", class: "top__menue__item__form__btn"
          %li.side-bar__menue__device.pulldown
            = link_to "#",class:"side-bar__menue__link " do
              [MITETE]って何?
          %li.side-bar__menue__device.pulldown
            = link_to "/users/",class:"side-bar__menue__link" do
              = image_tag "first-icon.PNG" ,class: "side-bar__menue__device__icon icon-height"
              = current_user.nickname
            %ul.top__menue
              %li.top__menue__item__form__btn
                = link_to "#",class:"btn" do
                  プロフィール
              %li.top__menue__item__form__btn
                = link_to new_tweet_path,class:"btn" do
                  投稿する
              %li.top__menue__item__form__btn
                = link_to "/users/#{current_user.id}",class:"btn" do
                  自分の投稿
              %li.top__menue__item__form__btn
                = link_to "/users/#{current_user.id}/like",class:"btn" do
                  いいねした投稿
              %li.top__menue__item__form__btn
                = link_to "#",class:"btn" do
                  設定
              %li.top__menue__item__form__btn
                = link_to destroy_user_session_path, method: :delete, class:"btn" do
                  ログアウト
      - else
        .side-bar__menue__device
        = link_to new_user_session_path,class:"side-bar__menue__link" do
          サインイン
        .side-bar__menue__device
        = link_to new_user_registration_path,class:"side-bar__menue__link" do
          新規登録
    

    