.title
  サインイン
.field__content
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field__content__menue
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field__content__menue
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field__content__menue
        = f.check_box :remember_me
        = f.label :remember_me
      .field__content__bottan
        = f.submit "Log in"
-# = render "devise/shared/links"
